<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanko.admin.mapper.SysPermissionMapper">

    <select id="selectPermissionListByRoles" resultType="com.hanko.cmn.entity.SysPermission">
        SELECT
            p.NAME,
            p.operate,
            p.uri,
            rp.role_id
            FROM
            sys_permission p,
            sys_role_permission rp
        WHERE
            rp.permission_id = p.id

            <if test="roles!=null">
                AND rp.role_id IN (#{roles})
            </if>

    </select>
</mapper>
